@mixin MMenuStyles($background: inherit, $text-and-borders: inherit, $hover-background: inherit, $active-and-hover-text: inherit) {

  .mm-panels {
    background: $background;
    .mm-navbar {
      border-color: $text-and-borders;
      a {
        color: $text-and-borders;
        &:before {
          border-color: $text-and-borders;
        }
      }
    }
    ul.mm-listview {
      @if ($text-and-borders != inherit) {
        border-color: transparentize($text-and-borders, .5);
      }
      li {
        a {
          color: $text-and-borders;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          tap-highlight-color: rgba(0, 0, 0, 0);
          &:hover,
          &:active,
          &:focus {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            tap-highlight-color: rgba(0, 0, 0, 0);
            background-color: $hover-background;
            color: $active-and-hover-text !important;
          }
          &:after {
            border-color: $text-and-borders;
          }
        }
      }
      li.current-menu-item {
        a {
          color: $active-and-hover-text;
        }
      }
      .current-menu-ancestor {
        a {
          color: $active-and-hover-text;
          &:hover {
            color: $active-and-hover-text;
            background-color: $text-and-borders;
          }
        }
      }
      li.dropdown {
        a.mm-next {
          &:hover,
          &:active,
          &:focus{
            &:after {
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              tap-highlight-color: rgba(0, 0, 0, 0);
              border-color: $active-and-hover-text;
            }
          }
        }
      }
    }
  }

}
